<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Map App</title>

  <link rel="icon" type="image/ico" href="/assets/tweet__.ico"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" media="screen" />

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>
<body>

<div id="sidebar">
  <div id="tweets">
    <h2>Happening Now</h2>
    <ul id="list"></ul>
  </div>
</div>

<div id="map-canvas"/>

</body>
<script type="text/javascript" src="/js/tweets.js"></script>
</html>